[package]
name = "trie-db"
version = "0.19.2"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Merkle-Patricia Trie generic over key hasher and node encoding"
repository = "https://github.com/paritytech/trie"
license = "Apache-2.0"
edition = "2018"

[dependencies]
log = "0.4"
smallvec = "1.0.0"
hash-db = { path = "../hash-db", default-features = false, version = "0.15.2"}
hashbrown = { version = "0.6.3", default-features = false }
ordered-trie = { path = "../ordered-trie", default-features = false, version = "0.19.2"}
rustc-hex = { version = "2.1.0", default-features = false, optional = true }

[dev-dependencies]
env_logger = "0.6"
memory-db = { path = "../memory-db", version = "0.18.1" }
rand = { version = "0.7", default-features = false, features = ["small_rng"] }
trie-root = { path = "../trie-root", version = "0.15.2"}
trie-standardmap = { path = "../test-support/trie-standardmap", version = "0.15.2" }
keccak-hasher = { path = "../test-support/keccak-hasher", version = "0.15.2" }
# DISABLE the following line when publishing until cyclic dependencies are resolved https://github.com/rust-lang/cargo/issues/4242
reference-trie = { path = "../test-support/reference-trie", default-features = false, version = "0.19.0" }
hex-literal = "0.2"
criterion = "0.3"
parity-codec = "3.0"
parity-codec-derive = "3.0"

[features]
default = ["std"]
std = [
  "hash-db/std",
  "rustc-hex",
]

[[bench]]
name = "bench"
harness = false

