[package]
name = "trie-db"
version = "0.18.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Merkle-Patricia Trie generic over key hasher and node encoding"
repository = "https://github.com/paritytech/trie"
license = "Apache-2.0"

[dependencies]
log = "0.4"
rand = { version = "0.6", default-features = false }
smallvec = "1.0.0"
hash-db = { path = "../hash-db", default-features = false, version = "0.15.2"}
hashbrown = { version = "0.6.3", default-features = false }
parity-util-mem = { version = "0.3", optional = true }

[dev-dependencies]
env_logger = "0.6"
memory-db = { path = "../memory-db", version = "0.18.0" }
trie-root = { path = "../trie-root", version = "0.15.2"}
trie-standardmap = { path = "../test-support/trie-standardmap", version = "0.15.2" }
keccak-hasher = { path = "../test-support/keccak-hasher", version = "0.15.2" }
# DISABLE the following line when publishing until cyclic dependencies are resolved https://github.com/rust-lang/cargo/issues/4242
reference-trie = { path = "../test-support/reference-trie", version = "0.18.0" }
hex-literal = "0.1"
criterion = "0.2.8"
parity-codec = "3.0"
parity-codec-derive = "3.0"

[features]
default = ["std"]
std = [
  "hash-db/std",
  "rand/std",
  "parity-util-mem"
]

[[bench]]
name = "bench"
harness = false
