[package]
name = "memory-db"
version = "0.15.3"
authors = ["Parity Technologies <admin@parity.io>"]
description = "In-memory implementation of hash-db, useful for tests"
repository = "https://github.com/paritytech/trie"
license = "Apache-2.0"

[dependencies]
heapsize = { version = "0.4", optional = true }
parity-util-mem = { version = "0.2", default-features = false }
hash-db = { path = "../hash-db", default-features = false, version = "0.15.2"}
hashbrown = { version = "0.6.3", default-features = false, features = [ "ahash" ] }
# There's a compilation error with ahash-0.2.17, which is permitted by the 0.2.11 constraint in hashbrown.
ahash = "0.2.18"

[dev-dependencies]
keccak-hasher = { path = "../test-support/keccak-hasher", version = "0.15.2"}
criterion = "0.2.8"

[features]
default = ["std"]
std = [
  "hash-db/std",
  "parity-util-mem/std",
]
deprecated = [ "heapsize" ]

[[bench]]
name = "bench"
harness = false
